
.icon-facebook:before { content: '\f301'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-googleplus:before { content: '\f309'; } /* '' */
.icon-linkedin:before { content: '\f31b'; } /* '' */